<!DOCTYPE html>
<html lang="en">

<head>

{% include 'includes/stylesheets.html' %}{% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

    <main class="container">

		{% if user.is_authenticated %}

			<div id="user-dts" class="box">

				{% if user.profile.unread_messages %}
				<a class="auth-a" href="#"><i class="fa fa-envelope"></i></a>
				{% endif %}
				<a class="auth-a" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
				<a class="auth-a" href="{% url 'conversation_create' %}"><i class="fa fa-plus"></i></a>
				<a class="auth-a" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>

			</div>

		{% endif %}

    	<div class="row">

    		{% block content %}{% endblock content %}

    	</div>

    </main>
	
	{% block script_templates %}{% endblock script_templates %}

	{% include 'includes/scripts.html' %}{% block scripts %}{% endblock scripts %}
       
</body>

</html>