{% extends 'base.html' %}

{% block content %}

<div class="col-xs-4 col-xs-offset-4">

	<div class="box">

		<header class="box__header">

			<h3>Create Note</h3>

		</header>

		<form id="js-conversation-form" class="clearfix page_form" action="{% url 'note_create' %}" method="post">

			{% csrf_token %}

			{% with form as page_form %}
				{% include 'includes/forms/page_form.html' %}
			{% endwith %}

		</form>

	</div>

</div>

{% endblock content %}

{% block scripts %}
	<script src="{{ STATIC_URL }}js/note_form.js"></script>
{% endblock scripts %}