{% extends 'base.html' %}

{% block content %}

<div class="col-xs-6 col-xs-offset-3">

	<div class="box">

		<header class="box__header">

			<h3>Conversations</h3>

		</header>

		<div>

			<ul id="js-conversations-list" class="conversations_ul">

				{% for conversation in object_list %}

					<li class="conversation">

						<a href="{{ conversation.get_absolute_url }}">{{ conversation }}</a>

					</li>

				{% endfor %}

				{% if is_paginated and page_obj.has_next %}

					<li class="load-more">
						<a href="{% url 'home' %}?page={{ page_obj.next_page_number }}" class="js-conversations-load btn btn-large btn-block">Load more</a>
					</li>

				{% endif %}

			</ul>

		</div>

	</div>

</div>

{% endblock content %}

{% block script_templates %}

{% verbatim %}

<script id="conversation_item_template" type="text/x-handlebars-template">
{{#each results}}
	<li class="conversation">

		<a href="{{ get_absolute_url }}">{{ title }}</a>

	</li>
{{/each}}
{{#if next}}
<li class="load-more">
	<a href="{{ next }}" class="js-conversations-load btn btn-large btn-block">Load more</a>
</li>
{{/if}}
</script>

{% endverbatim %}

{% endblock script_templates %}

{% block scripts %}
	<script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock scripts %}