@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/stylesheets/fonts/open_sans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/static/stylesheets/fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/static/stylesheets/fonts/open_sans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/static/stylesheets/fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/static/stylesheets/fonts/open_sans/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/static/stylesheets/fonts/open_sans/OpenSans-Italic.ttf') format('truetype');
}

html, body {
	margin: 0; 
	padding: 0; 
}
body {
	background: rgba(249, 249, 249, 0.5);
	background: #f4f4f4;
	min-height: 100%;
	font-family: 'Open Sans';
	min-width: 960px;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}


a, p, small, h1, h2, h3, h4, h5, h6 {
	line-height:1.42857143;
}


.container {
	width: 960px;
	max-width: 960px;
}
.col-thin {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.box__header .h-icon {
	font-size: 150%;
	float: right;
	margin-top: -4px;
	margin-right: 8px;
	display: inline-block;
}
.box__header .h-icon:hover {
	opacity: 0.6;
}


header[role=banner] {
	height: 44px;
	max-height: 44px;
	min-width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid rgb(175, 181, 192);
	box-shadow: 0 -1px 10px rgba(98,119,149,0.15) inset, 0 1px 2px rgba(98,119,149,0.15) inset;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(227, 231, 236)),
		color-stop(1, rgb(216, 222, 230))
	);
	background-image: -o-linear-gradient(bottom, rgb(227, 231, 236) 0%, rgb(216, 222, 230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(227, 231, 236) 0%, rgb(216, 222, 230) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(227, 231, 236) 0%, rgb(216, 222, 230) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(227, 231, 236) 0%, rgb(216, 222, 230) 100%);
	background-image: linear-gradient(to bottom, rgb(227, 231, 236) 0%, rgb(216, 222, 230) 100%);
}
header[role=banner] a {
	display: inline-block;
	float: left;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}
header[role=banner] a.h-icon {
	width: 48px;
	font-size: 120%;
}
header[role=banner] a:hover {
	opacity: 0.5;
}
header[role=banner] i {
	font-size: 130%;
	padding: 0;
	line-height: 45px;
}


#user-dts {
	float: right;
	margin-top: 0;
	border-top: 0;
	padding: 10px 20px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.auth-a {
	font-size: 130%;
	margin-right: 10px;
}
.auth-a:last-child {
	margin-right: 0px;
}
.auth-a:hover {
	opacity: 0.6;
}