body.modal-open {
    overflow: hidden;
}
.modal-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
}
.modal {
	margin-top: 100px;
	padding: 0;
	height: 100px;
	background: white;
	border: 2px solid #ddd;
}
.modal-header {
    padding: 10px 14px;
	border-bottom: 1px solid #ddd;
    background: rgb(248, 248, 249);
}
.modal-close {
	float: right;
	font-weight: bold;
	margin: 4px 8px;
	cursor: pointer;
}
.modal-footer {
    padding: 6px 10px;
    background: rgba(248, 248, 249, 0.1);
    border-top: 1px solid #ddd;
}