/*------------------------------------*\
    $-CONTENTS - Copy and paste headings
                 into your text editor's 
                 search box!
\*------------------------------------*/

/*
 *
 * $-CONTENTS............You’re reading it!
 *
 *
 * $-BUTTONS..............................
 *  $-BUTTON-MODIFIERS
 *
 * $-PAGE-DEFINITION-LISTS................
 *
 * $-TAGS-LISTS...........................
 *
 * $-TAGS.................................
 *
 * $-FLAG-OBJECT..........................
 *
 */


.load-more {
    margin-bottom: 10px;
}


/*
    $-BUTTONS
*/
.btn {
    padding: 0.3em 0.8em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 4px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.19);
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 );
}
    .btn:hover {
        border-color: #bcbcbc;
        text-decoration: none; 
        box-shadow: 0px 1px 1px rgba(227, 227, 227, 0.2);
    }
    .btn:focus,
    .btn:active {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#f4f4f4));
        background-image: -moz-linear-gradient(#ececec, #f4f4f4);
        background-image: -o-linear-gradient(#ececec, #f4f4f4);
        background-image: linear-gradient(#ececec, #f4f4f4);
    }
    /* overrides extra padding on button elements in Firefox */
    .btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
/*
    $-BUTTON-MODIFIERS
*/
.btn-small {
    padding: 0.2 0.4;
    font-size: 85%;
}
.btn-large {
    padding: 0.5em 1em;
    font-size: 100%;
}
.btn-large-thin {
    padding: 0.5em 0.75em 0.5em 0.75em;
}
.btn-block {
    display: block;
}




/*
    $-DEFINITION-LISTS
*/
.def-list .def-list__title {
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 10px;
}
.def-list .def-list__title:first-child {
    margin-top: 0px;
}
.def-list .def-list__item {
    padding-left: 10px;
}




/*
    $-TAG-LISTS
*/
.tag_list__item {
    margin-bottom: 4px;
    display: inline-block;
}
.tag_list__item:last-child {
    margin-bottom: 0px;
}
.tag_list__item:first-child {
    margin-top: 10px;
}




/*
    $-TAGS
*/
.tag {
    padding: 0.3em 0.8em;
    font-size: 80%;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px rgba(255, 255, 255, 0.19);
    border: 1px solid #dbdbdb;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset; */
    border-radius: 2px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 );
    margin-right: 4px;
}
    .tag:hover {
        border-color: #bcbcbc;
        box-shadow: 0px 1px 1px rgba(227, 227, 227, 0.2);
    }
.tag a {
    text-decoration: none;
}
.tag .fa {
    margin-left: 4px;
    color: rgba(94, 97, 100, 0.8);
}




/*
    $-FLAG-OBJECT
*/
.flag {
    display: table;
    width: 100%;
}
.flag__aside, .flag__body {
    display: table-cell;
    vertical-align: middle;
}
.flag__aside {
    padding-right: 10px;
    margin-right: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.flag__aside > img {
    display: block;
    max-width: none;
    border: 1px solid #ddd;
}
.flag__body {
    width: 100%;
}




/*
    $-SIMPLE-LIST
*/
.simple_list li {
    padding: 10px 14px;
    border-bottom: 1px solid #ddd;
}
.simple_list li:last-child {
    border-bottom: 0px;
}
.simple_list li a {
    text-decoration: none;
}
.simple_list .load-more {
    margin: 0px;
    padding: 10px;
}




/*
    $-BOX-ITEM-LIST
*/
.box-item-list {
    margin-top: 20px;
}
.box-item__header {
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
    padding: 12px 8px 6px;
}
.box-item__header .user {
    float: left;
}
.box-item__header .date {
    float: right;
}
.box-item__body {
    padding: 18px 24px;
    line-height: 130%;
}
.box-item__footer {
    padding: 8px 18px;
    background: rgba(248, 248, 249, 0.1);
    border-top: 1px solid #ddd;
}