.btn {
    padding: 0.3em 0.8em;
    text-decoration: none;
display: inline-block;
text-align: center;
cursor: pointer;
text-shadow: 0 1px rgba(255, 255, 255, 0.19);
border: 1px solid #dbdbdb;
/* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset; */
border-radius: 2px;
background: #fefefe;
background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8));
background: -webkit-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
background: -o-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
background: -ms-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
background: linear-gradient(to bottom, #fefefe 0%,#f8f8f8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 );
}
.btn-small {
    padding: 0.2 0.4;
    font-size: 85%;
}
.btn-large {
    padding: 0.5em 1em;
    font-size: 100%;
}
.btn-large-thin {
    padding: 0.5em 0.75em 0.5em 0.75em;
}
.btn-block {
    display: block;
}
.btn:hover {
    border-color: #bcbcbc;
    text-decoration: none; 
    box-shadow: 0px 1px 1px rgba(227, 227, 227, 0.2);
}
.btn:focus,
.btn:active {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#f4f4f4));
    background-image: -moz-linear-gradient(#ececec, #f4f4f4);
    background-image: -o-linear-gradient(#ececec, #f4f4f4);
    background-image: linear-gradient(#ececec, #f4f4f4);
}
/* overrides extra padding on button elements in Firefox */
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}


.tag_ul h3 {
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-left: 10px;
}
.tag_ul h3:first-child {
    margin-top: 0px;
}
.tag_ul li {
    padding-left: 10px;
}

.tag_li {
    margin-bottom: 4px;
    display: inline-block;
}
.tag_li:last-child {
    margin-bottom: 0px;
}
.tag {
    padding: 0.3em 0.8em;
    font-size: 80%;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-shadow: 0 1px rgba(255, 255, 255, 0.19);
    border: 1px solid #dbdbdb;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05), 0 -2px 0 0 rgba(0, 0, 0,0.01) inset; */
    border-radius: 2px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 );
    margin-right: 4px;
}
.tag:hover {
    border-color: #bcbcbc;
    box-shadow: 0px 1px 1px rgba(227, 227, 227, 0.2);
}
.tag a {
    text-decoration: none;
}
.tag .fa {
    margin-left: 4px;
    color: rgba(94, 97, 100, 0.8);
}
.load-more {
    margin-bottom: 10px;
}



.flag {
    display: table;
    width: 100%;
}

.flag__aside, .flag__body {
    display: table-cell;
    vertical-align: middle;
}
.flag__aside {
    padding-right: 10px;
    margin-right: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.flag__aside > img {
    display: block;
    max-width: none;
    border: 1px solid #ddd;
}
.flag__body {
    width: 100%;
}






.conversations_ul .conversation {
    padding: 10px 14px;
    border-bottom: 1px solid #ddd;
}
.conversations_ul .conversation:last-child {
    border-bottom: 0px;
}
.conversation a {
    text-decoration: none;
}
.conversations_ul .load-more {
    margin: 10px;
}

.messages_ul {
    margin-top: 20px;
}

.messages_ul .message {
    padding: 10px;
}

.message__header {
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding: 2px 8px 4px;
}
.message__header .user {
    float: left;
}
.message__header .date {
    float: right;
}
.message__body {
    padding: 8px 12px;
}