{% extends 'base.html' %}

{% block content %}

<div class="col-xs-6 col-xs-offset-3">

	<div class="box">

		<header class="box__header">

			<h3>All Tags</h3>

		</header>

		<div class="box__body">

			<ul class="tag_ul">
				{% for tag in object_list %}
					{% ifchanged tag.first_letter %}
						<h3>{{ tag.first_letter|capfirst }}</h3>
					{% endifchanged %}
						<li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>

		</div>

	</div>

</div>

{% endblock content %}