<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/handlebars-v1.3.0.js"></script>
<script src="{{ STATIC_URL }}js/vendor/markdown.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/vendor/markdown.js"></script>

<script src="{{ STATIC_URL }}js/ajax_setup.min.js"></script>

<script src="{{ STATIC_URL }}js/app/ferah.utils.js"></script>

<script src="{{ STATIC_URL }}js/app/templates/utils.js"></script>
<script src="{{ STATIC_URL }}js/app/templates/simple_list.js"></script>
<script src="{{ STATIC_URL }}js/app/templates/conversation.forms.js"></script>

<script src="{{ STATIC_URL }}js/app/ferah.ajax.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.modal.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.notify.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.app.js"></script>
<script src="{{ STATIC_URL }}js/app/ferah.conversations.js"></script>

<script src="{{ STATIC_URL }}js/jango_forms.min.js"></script>
<script src="{{ STATIC_URL }}js/jango_endless.min.js"></script>